<div class="left">
	<div class="gallery-frame-div">
		<div class="gallery-frame">
				<img src="img/gallery-folder-frame.png" height="{{height}}" width="{{width}}"/>
		</div>
		<div class="gallery-frame-img">
				<img src="{{img}}" height="{{multiply height 0.66}}" width="{{multiply width 1.0}}"/>
				{{yield}}
		</div>
	</div>
</div>
